header>div#navigator {
  position: fixed;
  float: left;
  padding-bottom: 105px;
  padding-top: 0%;

}
section {
  padding-bottom: 105px;
  padding-top:0px;
}
nav {
  position: fixed;
  text-decoration: white;
}
a {
  color: whitesmoke;
  text-decoration: none;
  
p {
  color: green;
}

#links {
  background-color: brown;
}
table>tr>td>p {
  line-height: 1.5in;
}